<div class="container">    
    <p id="notice"><%= notice %></p>
        <div class= "row">
          <%= image_tag(@product.image, class: "img-responsive img-width")%>
          <div class= "col-sm-10 col-md-5">
            <p>
              <strong>Title:</strong>
              <%= @product.title %>
            </p>

            <p>
              <strong>Content:</strong>
              <%= @product.content %>
            </p>

            <%= render 'new_comment'%>
            <%= render 'comments'%>
            <%= will_paginate @comments%>

            <%= link_to 'Edit', edit_product_path(@product) %> |
            <%= link_to 'Back', products_path %>
          </div>
        </div>
</div>        